# This file is to unify coding style for different editors and IDEs
# website: https://editorconfig.org
#
# note: Remember to update .gitattributes for new changes

root=true

[*]
charset=utf-8
# end_of_line=lf # text=auto in .gitattributes
indent_style=tab
insert_final_newline=true

[*.xml]
end_of_line=crlf
indent_style=space
indent_size=4

[{*.js,*.json,*.md}]
end_of_line=lf

[{*.sh,*.bash}]
end_of_line=lf

[{*.bat,*.cmd,*.ps1}]
end_of_line=crlf

[{*.yml,*.yaml,bower.json,package.json,package-lock.json}]
indent_style=space
indent_size=2
